# Ignore build output binaries & large files
bazel-bin/
bazel-out/
bazel-testlogs/

# Ignore large toolchains & cache files
**/lib/modules
**/*.jar
**/*.zip
**/*.exe
**/*.params
**/*.modules
**/*.class
**/*.pyc

# Optional: ignore IDE or OS-specific stuff
.DS_Store
*.log
